.tab-pane > .tab-header-area {
    visibility: hidden;
}


.button {
    -fx-font-family: "Baskerville";
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-border-color: #FFFFFF;
    -fx-border-radius:10px;
    -fx-cursor: pointer;
}
.button:hover {
    -fx-background-color: #dedede;
    -fx-border-color: #dedede;
}