.tab-pane > .tab-header-area {
    visibility: hidden;
}

.minimal-button {
    -fx-background-color: #664446;
    -fx-cursor: hand;
}

.minimal-button.selected-button {
    -fx-background-color: #ded9d9;
}